body {
    font-family: 'Nothing You Could Do', cursive;
}

.jumbotron {
    color: white;
    background-image: url("/images/background-2734804__340.jpg ");
    background-size: cover;}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

a {
    text-decoration: none;
    color: black;
}

th a:hover{
    text-decoration: none !important;
    color: black;
}

a:hover{
    text-decoration: none !important;
    color: white;
}